.reviewCard {
  width: 100%;
  gap: 1.25rem;
  display: flex;
  padding: 1.25rem;
  overflow: hidden;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  justify-content: center;
  border: 2px solid var(--primary);
  box-shadow: var(--shadow-small);
}

.reviewCard:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-large);
}

.reviewerInitials {
  width: 50px;
  height: 50px;
  display: flex;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 50%;
  align-items: center;
  transition: 0.3s ease;
  justify-content: center;
  color: var(--header-bg-color);
  background-color: var(--primary);
}

.reviewContent {
  flex-grow: 1;
  text-align: left;
}

.reviewerName {
  font-weight: 500;
  font-size: 1.5rem;
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
}

.reviewMetaContent {
  gap: 0.5rem;
  display: flex;
  margin-bottom: 0.25rem;
  align-items: flex-start;
}

.starsContainer {
  position: relative;
  font-size: 1.15rem;
  color: var(--primary);
  display: inline-block;
  transition: 0.3s ease;
}

.starsBackground,
.starsForeground {
  gap: 0.15rem;
  display: flex;
}

.starsForeground {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  color: var(--primary);
}

.timestamp {
  font-size: 1.15rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.text {
  font-size: 1.15rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .reviewCard {
    gap: 0.5rem;
    padding: 1rem;
    flex-direction: column;
  }

  .reviewerInitials {
    width: 45px;
    height: 45px;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .reviewerInitials {
    width: 40px;
    height: 40px;
    font-size: 1.15rem;
  }

  .reviewerName {
    font-size: 1.375rem;
  }

  .starsContainer {
    font-size: 1rem;
  }

  .timestamp {
    font-size: 1rem;
  }

  .text {
    font-size: 1rem;
  }
}
