.laserSection {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 2rem;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  background-size: cover;
  justify-content: center;
  background-position: center;
  box-shadow: var(--shadow-small);
  background-image: url("/images/laser-hair-removal-1.JPG");
}

.laserSection:hover {
  box-shadow: var(--shadow-large);
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.25);
}

/* Title */
.laserTitle {
  font-size: 2.5rem;
  text-align: center;
  transition: 0.3s ease;
  margin-bottom: 0.5rem;
  color: hsl(0, 0%, 100%);
  font-family: "Libre Baskerville", serif;
}

/* Accordion */
.accordion {
  gap: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  flex-direction: column;
  justify-content: center;
}

.accordionItem {
  overflow: hidden;
  border-radius: 0.5rem;
  border: 2px solid var(--primary);
}

/* Accordion title */
.accordionTitle {
  width: 100%;
  display: flex;
  font-weight: 500;
  font-size: 1.5rem;
  align-items: center;
  padding: 0.75rem 1rem;
  transition: 0.3s ease;
  color: hsl(0, 0%, 100%);
  justify-content: space-between;
}

.accordionTitle:hover,
.active {
  background-color: hsla(0, 0%, 0%, 0.25);
}

.icon {
  font-size: 1.5rem;
  transition: 0.3s ease;
}

/* Accordion text */
.accordionText {
  max-height: 0;
  text-align: left;
  font-size: 1.25rem;
  transition: 0.3s ease;
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 0%, 0.25);
}

.open {
  max-height: 500px;
  padding: 0.75rem 1rem;
  border-top: 2px solid var(--primary);
}

.active .icon {
  transform: rotate(180deg);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .overlay {
    padding: 1.75rem;
  }

  .laserTitle {
    font-size: 2rem;
  }

  .accordionTitle {
    font-size: 1.25rem;
  }

  .icon {
    font-size: 1.25rem;
  }

  .accordionText {
    font-size: 1.15rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .overlay {
    padding: 1.5rem;
  }

  .laserTitle {
    font-size: 1.5rem;
  }

  .accordion {
    gap: 0.75rem;
  }

  .accordionTitle {
    font-size: 1.15rem;
  }

  .icon {
    font-size: 1.15rem;
  }

  .accordionText {
    font-size: 1rem;
  }
}
