.contactContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.contactTitle {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary);
  transition: 0.3s ease;
  font-family: var(--font-libre-baskerville), serif;
}

/* Description */
.contactDescription {
  font-size: 1.15rem;
  text-align: center;
  margin-bottom: 1rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

/* Contact form */
.formContainer {
  width: 100%;
  padding: 1.25rem;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  background-color: var(--header-bg-color);
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.25);
}

:global(form) {
  gap: 1.25rem;
  display: flex;
  transition: 0.3s ease;
  flex-direction: column;
}

.formGroup {
  gap: 0.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
}

/* Subject and message fields */
.formControl {
  width: 100%;
  font-size: 1.15rem;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  color: var(--text-primary);
  padding: 2rem 1rem 0.75rem;
  border: 2px solid var(--bg-color);
  background-color: var(--bg-color);
}

.formControl:focus {
  border: 2px solid var(--primary);
  box-shadow: var(--shadow-primary);
}

.formControl::placeholder {
  opacity: 0;
}

textarea.formControl {
  height: 200px;
  resize: vertical;
  transition: 0.3s ease;
}

:global(label) {
  top: 0;
  left: 0;
  padding: 1rem;
  font-weight: 500;
  position: absolute;
  font-size: 1.25rem;
  pointer-events: none;
  transition: 0.3s ease;
  color: var(--text-primary);
}

.formControl:focus ~ label,
.formControl:not(:placeholder-shown) ~ label {
  opacity: 0.95;
  color: var(--text-secondary);
  transform: scale(0.85) translateX(-0.5rem) translateY(-0.5rem);
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  caret-color: var(--text-primary);
  transition: background-color 9999s ease-out 0s;
  box-shadow: 0 0 0 30px var(--bg-color) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
}

/* Submit button */
.submitBtn {
  gap: 0.75rem;
  display: flex;
  padding: 0.75rem;
  font-size: 1.75rem;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  justify-content: center;
  border: 2px solid var(--primary);
  background-color: var(--header-bg-color);
}

.submitBtn:hover {
  background-color: var(--primary);
  box-shadow: var(--shadow-primary);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .contactTitle {
    font-size: 2.5rem;
  }

  .formContainer {
    padding: 1rem;
  }

  :global(form) {
    gap: 1rem;
  }

  .formControl {
    font-size: 1rem;
  }

  textarea.formControl {
    height: 175px;
  }

  :global(label) {
    font-size: 1rem;
  }

  .submitBtn {
    font-size: 1.5rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .contactTitle {
    font-size: 2rem;
  }

  .contactDescription {
    font-size: 1rem;
  }

  textarea.formControl {
    height: 150px;
  }

  .submitBtn {
    font-size: 1.25rem;
  }
}
