/* Light theme */
html[data-theme="light"] {
  --primary: hsl(320, 60%, 76%);
  --secondary: hsl(261, 44.5%, 73.1%);
  --bg-color: hsl(0, 50%, 97%);
  --text-primary: hsl(0, 0%, 10%);
  --text-secondary: hsl(0, 0%, 20%);
  --header-bg-color: hsl(0, 0%, 100%);
  --shadow-primary: 0px 0px 10px var(--primary);
  --shadow-small: 0px 0px 10px hsla(0, 0%, 0%, 0.5);
  --shadow-large: 0px 0px 20px hsla(0, 0%, 0%, 0.5);
  --header-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.15);
}

/* Dark theme */
html[data-theme="dark"] {
  --primary: hsl(261, 44.5%, 73.1%);
  --secondary: hsl(320, 60%, 76%);
  --bg-color: hsl(0, 0%, 12%);
  --text-primary: hsl(0, 0%, 95%);
  --text-secondary: hsl(0, 0%, 85%);
  --header-bg-color: hsl(0, 0%, 8%);
  --shadow-primary: 0px 0px 10px var(--primary);
  --shadow-small: 0px 0px 10px var(--primary);
  --shadow-large: 0px 0px 20px var(--primary);
  --header-shadow: 0px 3px 10px hsla(0, 0%, 0%, 0.15);
}

/* Highlighted text */
::selection {
  color: var(--text-primary);
  background: var(--primary);
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

/* Buttons */
button {
  color: inherit;
  cursor: pointer;
  background-color: inherit;
}

/* Horizontal rule */
hr {
  border: none;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Form elements */
input,
select,
button,
textarea {
  border: none;
  font: inherit;
  outline: none;
}

/* Media */
svg,
img,
video,
canvas,
picture {
  height: auto;
  display: block;
  max-width: 100%;
}

/* Universal reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root element */
html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* Body */
body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  color: var(--text-primary);
  background-color: var(--bg-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-montserrat), Arial, sans-serif;
}

/* Main */
main {
  width: 100%;
  padding: 2rem;
  transition: 0.3s ease;
  background-color: var(--bg-color);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  main {
    padding: 1.75rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  main {
    padding: 1.5rem;
  }
}
