.popularServicesSection {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  margin-bottom: 2rem;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  background-size: cover;
  justify-content: center;
  background-position: center;
  box-shadow: var(--shadow-small);
  background-image: url("/images/laser-hair-removal-2.JPG");
}

.popularServicesSection:hover {
  box-shadow: var(--shadow-large);
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.25);
}

.popularServicesTitle {
  font-size: 2.5rem;
  text-align: center;
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
  color: hsl(0, 0%, 100%);
  font-family: var(--font-libre-baskerville), serif;
}

.popularServicesDescription {
  text-align: center;
  font-size: 1.375rem;
  transition: 0.3s ease;
  color: hsl(0, 0%, 90%);
}

.servicesList {
  gap: 0.75rem;
  display: flex;
  min-width: 100%;
  flex-direction: column;
}

.serviceItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceName,
.servicePrice {
  font-size: 1.375rem;
  white-space: nowrap;
  transition: 0.3s ease;
  color: hsl(0, 0%, 100%);
}

.line {
  height: 2px;
  flex-grow: 1;
  opacity: 0.75;
  margin: 0rem 0.75rem;
  background-color: hsl(0, 0%, 100%);
}

/* Explore all services */
.viewServices {
  padding: 0.75rem;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 0%, 0.25);
}

.viewServices:hover {
  background-color: hsla(0, 0%, 0%, 0.5);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .overlay {
    padding: 1.75rem;
  }

  .popularServicesTitle {
    font-size: 2rem;
  }

  .popularServicesDescription {
    font-size: 1.15rem;
  }

  .serviceName,
  .servicePrice {
    font-size: 1.25rem;
  }

  .viewServices {
    font-size: 1.25rem;
  }
}

/* Mobile Responsiveness */
@media (max-width: 480px) {
  .overlay {
    padding: 1.5rem;
  }

  .popularServicesTitle {
    font-size: 1.5rem;
  }

  .popularServicesDescription {
    font-size: 1rem;
  }

  .servicesList {
    gap: 0.5rem;
  }

  .serviceName,
  .servicePrice {
    font-size: 1.15rem;
  }

  .line {
    margin: 0rem 0.5rem;
  }

  .viewServices {
    font-size: 1.15rem;
  }
}
