.privacyPolicyContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Title */
.privacyPolicyTitle {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary);
  transition: 0.3s ease;
  font-family: var(--font-libre-baskerville), serif;
}

/* Description */
.privacyPolicyDescription {
  font-size: 1.15rem;
  text-align: center;
  margin-bottom: 1rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.policy {
  text-align: left;
}

.policyHeading {
  font-weight: 500;
  font-size: 1.25rem;
  display: inline-block;
  transition: 0.3s ease;
  margin-bottom: 0.15rem;
  padding-bottom: 0.15rem;
  border-bottom: 2px solid var(--primary);
}

.policyText {
  font-size: 1.15rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.policyText:not(:last-child) {
  margin-bottom: 1rem;
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .privacyPolicyTitle {
    font-size: 2.5rem;
  }

  .policyHeading {
    font-size: 1.15rem;
  }

  .policyText {
    font-size: 1rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .privacyPolicyTitle {
    font-size: 2rem;
  }

  .privacyPolicyDescription {
    font-size: 1rem;
  }

  .policyHeading {
    font-size: 1rem;
  }

  .policyText {
    font-size: 0.95rem;
  }
}
