.ahaVsBhaSection {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 2rem;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  background-size: cover;
  justify-content: center;
  background-position: center;
  box-shadow: var(--shadow-small);
  background-image: url("/images/cream.png");
}

.ahaVsBhaSection:hover {
  box-shadow: var(--shadow-large);
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.25);
}

/* Title */
.ahaVsBhaTitle {
  font-size: 2.5rem;
  text-align: center;
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
  color: hsl(0, 0%, 100%);
  font-family: var(--font-libre-baskerville), serif;
}

/* Description */
.ahaVsBhaDescription {
  text-align: center;
  font-size: 1.375rem;
  transition: 0.3s ease;
  margin-bottom: 0.75rem;
  color: hsl(0, 0%, 90%);
}

/* Columns */
.contentGrid {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.column {
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  flex-direction: column;
  justify-content: flex-start;
}

/* Subheading */
.columnSubheading {
  font-size: 2rem;
  font-weight: 500;
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
  color: hsl(0, 0%, 100%);
  font-family: var(--font-libre-baskerville), serif;
}

/* List */
.columnList {
  flex: 1;
  width: 100%;
  display: flex;
  text-align: left;
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  list-style-type: disc;
  flex-direction: column;
  color: hsl(0, 0%, 95%);
  justify-content: flex-start;
  background-color: hsla(0, 0%, 0%, 0.25);
  box-shadow: 0px 0px 15px hsla(0, 0%, 0%, 0.25);
}

.columnList li:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .overlay {
    padding: 1.75rem;
  }

  .ahaVsBhaTitle {
    font-size: 2.25rem;
  }

  .ahaVsBhaDescription {
    font-size: 1.25rem;
  }

  .column {
    flex: 1 1 100%;
  }

  .columnSubheading {
    font-size: 1.75rem;
    align-self: flex-start;
  }

  .columnList {
    font-size: 1.15rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .overlay {
    padding: 1.5rem;
  }

  .ahaVsBhaTitle {
    font-size: 2rem;
  }

  .ahaVsBhaDescription {
    font-size: 1.15rem;
  }

  .columnSubheading {
    font-size: 1.5rem;
  }

  .columnList {
    font-size: 1rem;
  }
}
