.servicesContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Category section */
.categorySection:not(:last-child) {
  margin-bottom: 2rem;
}

/* Title */
.servicesTitle {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary);
  transition: 0.3s ease;
  font-family: var(--font-libre-baskerville), serif;
}

/* Description */
.servicesDescription {
  overflow: hidden;
  max-height: 8rem;
  position: relative;
  font-size: 1.15rem;
  text-align: center;
  margin-bottom: 1rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.servicesDescription.expanded {
  max-height: 1000px;
}

/* Dark fade effect at the bottom when collapsed */
.servicesDescription.collapsed::after {
  left: 0;
  right: 0;
  content: "";
  bottom: 0rem;
  height: 10rem;
  position: absolute;
  pointer-events: none;
  background: linear-gradient(to top, var(--bg-color), transparent);
}

/* Read more button */
.readMoreButton {
  font-size: 1.15rem;
  margin-bottom: 1rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.readMoreButton:hover {
  color: var(--text-primary);
  transform: translateY(-3px);
}

/* Filters */
.filterControls {
  text-align: left;
  margin-bottom: 1rem;
}

.filterControls select {
  cursor: pointer;
  appearance: none;
  font-size: 1.15rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  color: var(--text-primary);
  border: 2px solid var(--secondary);
  background-color: var(--header-bg-color);
}

.filterControls select:hover {
  box-shadow: var(--shadow-primary);
}

/* Service cards */
.serviceCards {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .servicesTitle {
    font-size: 2.5rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .servicesTitle {
    font-size: 2rem;
  }

  .servicesDescription {
    font-size: 1rem;
  }

  .readMoreButton {
    font-size: 1rem;
  }

  .filterControls select {
    font-size: 1rem;
  }
}
