.serviceSection {
  width: 100%;
  padding: 2rem;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  background-size: cover;
  justify-content: center;
  background-position: center;
  box-shadow: var(--shadow-small);
}

.serviceSection:hover {
  box-shadow: var(--shadow-large);
}

.serviceSection::before {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 100%;
  position: absolute;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 0%, 0.25);
}

.serviceContent {
  z-index: 1;
  position: relative;
}

/* Title */
.serviceTitle {
  font-size: 2.5rem;
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
  color: hsl(0, 0%, 100%);
  font-family: var(--font-libre-baskerville), serif;
}

/* Description */
.serviceDescription1,
.serviceDescription2 {
  font-size: 1.375rem;
  transition: 0.3s ease;
  color: hsl(0, 0%, 95%);
}

.serviceDescription1 {
  margin-bottom: 0.5rem;
}

.serviceDescription2 {
  margin-bottom: 1.75rem;
}

/* CTA button */
.bookButton {
  padding: 0.75rem;
  font-size: 1.375rem;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 0%, 0.25);
}

.bookButton:hover {
  background-color: hsla(0, 0%, 0%, 0.5);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .serviceSection {
    padding: 1.75rem;
  }

  .serviceTitle {
    font-size: 2.25rem;
  }

  .serviceDescription1,
  .serviceDescription2 {
    font-size: 1.25rem;
  }

  .bookButton {
    font-size: 1.25rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .serviceSection {
    padding: 1.5rem;
  }

  .serviceTitle {
    font-size: 1.5rem;
  }

  .serviceDescription1,
  .serviceDescription2 {
    font-size: 1.15rem;
  }

  .bookButton {
    font-size: 1.15rem;
  }
}
