.studioSection {
  width: 100%;
  height: 350px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  margin-bottom: 2rem;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  background-size: cover;
  justify-content: center;
  background-position: center;
  box-shadow: var(--shadow-small);
  background-image: url("/images/spa.JPG");
}

.studioSection:hover {
  box-shadow: var(--shadow-large);
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.25);
}

/* Title */
.studioTitle {
  font-size: 2.5rem;
  text-align: center;
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
  color: hsl(0, 0%, 100%);
  font-family: "Libre Baskerville", serif;
}

/* Description */
.studioDescription {
  text-align: center;
  font-size: 1.375rem;
  transition: 0.3s ease;
  color: hsl(0, 0%, 90%);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .overlay {
    padding: 1.75rem;
  }

  .studioTitle {
    font-size: 2rem;
  }

  .studioDescription {
    font-size: 1.25rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .overlay {
    padding: 1.5rem;
  }

  .studioTitle {
    font-size: 1.75rem;
  }

  .studioDescription {
    font-size: 1.15rem;
  }
}
